body {
 font-family: 'Apple Chancery', sans-serif;
}
.topnav {
  background-color: transparent;
  overflow: hidden;
  position: relative;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #eb3aa4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
  font-family: 'Apple Chancery', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #8a04c7;
  color: rgb(255, 255, 255);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #0a2df2;
  color: rgb(255, 255, 255);
}
/* author logo stats top nav */
.logo {
    float:right;
    width: inherit;
    height: 45px;
}
/*author logo stats bottom nav */
.logo2 {
    float:left;
    width: inherit;
    height: 45px;
}

.bottomNav {
    background-color: transparent;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    bottom: 0;
}

.bottomNav a {
  color: #eb3aa4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
}

.holographic-container {
  display: flex;
  float: right;
  height: 100px;
  background: transparent;
}

.holographic-card {
  width: 50px;
  height: 50px;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.holographic-card h2 {
  color: rgb(6, 104, 215);
  font-size: 2rem;
  position: relative;
  z-index: 2;
}

.holographic-card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    rgba(0,255,255,0.3)
  );
  transform: rotate(-75deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.holographic-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0,255,255,0.5);
}

.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

.authorPhoto {
  height: 300px;
  position: relative;
  top: 10px;
  float:left;
}

.goon1 {
  height: 200px;
  position: relative;
  float: right;
  right:470px;
  bottom: 10px;
}

fieldset {
  border: 0;
}
.newsBox {
  height: 144px;
  overflow: scroll;
  overflow-x: hidden;
  font-family: 'Apple Chancery', sans-serif; 
  border:#0a2df2 5px solid;
  text-align: center;
                           
}

.giveBox {
  height: 144px;
  overflow: scroll;
  overflow-x: hidden;
  font-family: 'Apple Chancery', sans-serif;
  border: #8a04c7 5px solid;
  text-align: center;
                                                
}

.appearBox {
  height: 144px;
  width: ;
  overflow: scroll;
  overflow-x: hidden;
  font-family: 'Apple Chancery', sans-serif;
  border: #eb3aa4 5px solid;
  text-align: center;
                                                
}
